*{
	margin:0px;
	padding:0px;
}

header {
	height: 600px;
	width: 100vw;
	text-align:center;
	line-height:700px;
	font-size:25px;
}

.main {
	height: 100%;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;

}

.todoList {
	height: 100%;
	text-align:center;
	font-size:30px;
	display: flex;
    justify-content: center; /*左右中央揃え*/
	align-items: center;     /*上下中央揃え*/
}

.createBack {
	height: 100%;
	text-align:center;
	font-size:20px;
	display: flex;
    justify-content: center; /*左右中央揃え*/
	align-items: center;     /*上下中央揃え*/
}

/* トップページボタン */
a.todoListLink {
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 320px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	border: 2px solid #27acd9;
	background: #27acd9;
	color: #fff;
	border-radius: 5px;
	transition: 0.5s;
	animation: move_b 2s infinite;
}
@keyframes move_b {
    0% {transform: translate(4px, 0px);}
    5% {transform: translate(-4px, 0px);}
    10% {transform: translate(4px, 0px);}
    15% {transform: translate(-4px, 0px);}
	20% {transform: translate(4px, 0px);}
    25% {transform: translate(-4px, 0px);}
    30% {transform: translate(0px, 0px);}
}
a.todoListLink:hover {
	color: #27acd9;
	background: #fff;
}

.createTopBackBtn {
	height: 100px;
}
